.speech {
    color: black;
    font-size: 10;
    font: optional;
}

.directions {
    color: black;
    font-size: 20;
    font: normal;
    background-color: antiquewhite;
}

.song {
    color: black;
    font-size: 30;
    font: bold;
    padding-left: 15%;
}
table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tr:nth-child(even) {
    background-color:blueviolet;
  }
  tr:nth-child(odd) {
    background-color:cadetblue;
  }

.name {
    color: black;
    font-size: 40;
    font: medium;

}

p.directions:hover {
    background-color: rgb(243, 213, 168);
    color: rgb(71, 112, 189);
}

.CELIA {
    color: black;

}

.LEILA {
    color: brown;

}

.FLETA {
    color: blue
}
.KING {
    color: red
}
.ROBBIN {
    color:violet
}
.KING {
    color:palevioletred
}
 